<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto - Comanda & Mesa</title>
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://use.typekit.net/yve6qgq.css">
 
</head>
<body>
  <header>
    <div class="logo">
      <a href="/index.html"><img src="/assets/img/logo.png" alt="Logo"></a>
    </div>
    <div class="menu">
      <a href="/index.html" >Inicio</a>
      <a href="/views/comandas.html class="active-link"">Comandas</a>
      <a href="/views/produtos.html">Produtos</a>
      <a href="/views/mesas.html">Mesas</a>
    </div>



  </header>
  <main>
    <div class="header">
    <div class="conteudo">
      <span class="button" onclick="addComanda()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nova Comanda</i>
      </span>
      <p class="list">Comanda: Carlos</p>
    
    </div>

  </main>
</body>

<script>
  // Atualizar o nome da comanda
  const comandas = document.querySelector('p');
  comandas.addEventListener('click', updateName);

  function updateName() {
    const name = prompt('Digite o nome do cliente');
    comandas.textContent = `Comanda: ${name}`; ;
  }

// Adiciona uma nova comanda
  function addComanda() {
    const conteudo = document.querySelector('.conteudo');
    const name = prompt('Digite o nome do cliente');
    const newPara = document.createElement('p');

    newPara.className = "list";
    newPara.textContent = 'Comanda: ' + name;

    conteudo.appendChild(newPara);
    newPara.addEventListener('click', updateName);
  }
</script>

</html>