<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto - Comanda & Mesa</title>
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://use.typekit.net/yve6qgq.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="/assets/css/global.css">
  <link rel="stylesheet" href="/assets/css/styles.css">

</head>
<body>
  <header>
    <div class="logo">
      <a href="/index.html"><img src="/assets/img/logo.png" alt="Logo"></a>
    </div>
    <div class="menu">
      <a href="/index.html" class="animated-link">Inicio</a>
      <a href="/views/comandas.html" class="animated-link active">Comandas</a>
      <a href="/views/produtos.html" class="animated-link">Produtos</a>
      <a href="/views/mesas.html" class="animated-link">Mesas</a>
    </div>



  </header>
  <main>
    <div class="container">
      <span class="button" onclick="addComanda()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Nova Comanda
      </span>
      <div class="list">
        
        <p class="comandas">Comanda: Carlos</p>
      
      </div>

    </div>

  </main>
</body>

<script>
  // Atualizar o nome da comanda
  const comandas = document.querySelector('p');
  comandas.addEventListener('click', updateName);

  function updateName() {
    const name = prompt('Digite o nome do cliente');
    comandas.textContent = `Comanda: ${name}`; ;
  }

// Adiciona uma nova comanda
  function addComanda() {
    const conteudo = document.querySelector('.list');
    const name = prompt('Digite o nome do cliente');
    const newPara = document.createElement('p');

    newPara.className = "comandas";
    newPara.textContent = 'Comanda: ' + name;

    conteudo.appendChild(newPara);
    newPara.addEventListener('click', updateName);
  }
</script>

</html>