<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto - Comanda & Mesa</title>
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://use.typekit.net/yve6qgq.css">
 
</head>
<body>
  <header>
    <div class="logo">
      <a href="/index.html"><img src="/assets/img/logo.png" alt="Logo"></a>
    </div>
    <div class="menu">
      <a href="/index.html">Inicio</a>
      <a href="/views/comandas.html">Comandas</a>
      <a href="/views/produtos.html" class="active-link">Produtos</a>
      <a href="/views/mesas.html">Mesas</a>
    </div>


  </header>
  <main>
    <div class="conteudo">

      

    </div>
  </main>
</body>
</html>